.header__logo {
    margin-top: 45px;
    margin-bottom: 41px;
}

@media screen and (max-width:900px) {
    .header__logo {
        margin: 28px 0 31px 27px;
        width: 103px;
        height: 25px;
    }
}
