.profile {
    max-width: 880px;
    margin: 0 auto 53px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:900px) {
    .profile {
        max-width: 700px;
    }
}

@media screen and (max-width:686px) {
    .profile {
        display: block;
        width: 282px;
        margin: 0 auto;
    }
}