.auth__text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: white;
    border: none;
    width: 358px;
    background-color: black;
    padding-bottom: 13px;
    margin-bottom: 30px;
    border-bottom: 2px solid #CCCCCC;
    box-sizing: border-box;
}

.auth__text:nth-child(2) {
    margin-bottom: 0;
}

.auth__text:focus {
    outline: none;
}