.profile__avatar {
    margin-right: 30px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: opacity .5s ease-in-out;
}


@media screen and (max-width:686px) {
    .profile__avatar {
        display: block;
        margin: 0 auto 22px;
    }
}